.mw-theme-movies-archive-page{
    align-items: center;
    margin: 20px;
    background-color: #FFF8DC;
    border-radius: 20px;
}

.mw-theme-movies-post-place{
    vertical-align: top;
    margin: 20px;
    display: inline-block;
    width: 350px;
    
    text-align: center;
    /* float: right; */
}

.mw-theme-movies-title{
    height: 70px;
    text-align: center;

}

.mw-theme-movies-logo{
    
    height: 550px; 
    /* text-align: center; */
}

.posts_pagination{
    text-align: center;
}

a{
    text-decoration: none;
}
.grid{
    display: grid;
}
.header{
    grid-template-columns: 2.5fr 4fr;
}
.head_menu{
    grid-template-columns: 1fr 1fr 1fr;
}